<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kinvey Social Connect</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Kinvey Social Connect</h1>
    <p class="lead">
      A sample application demonstrating how to connect to Facebook and Twitter using the Kinvey AngularJS SDK.
    </p>
    <p>
      <a type="button" class="btn btn-lg btn-success" ui-sref="login">Get Started</a>
    </p>
  </div>

  <!-- <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
    </p>
  </div> -->

</div>
